#restart {
    position:relative;
    left:45%;
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;

}

#lives {
    text-align: center;
    font-size: 1.5em;
}

#alphabet {
    list-style-type: none;
    text-align:center;
}

#alphabet li {
    display: inline-block;
    border: 2px solid black;
    border-radius:8px;
    margin: 0.5em;
    padding: 0.5%;
    font-size: 1em;
    text-align: center;
}

#alphabet li:hover{
    background-color: yellow;
}

#myWord {
    list-style-type: none;
    text-align: center;
}

#myWord li {
    display: inline;
    margin: 0.2em;
    font-size: 2cm;
}

#definition {
    font-size: 1.5em;
    text-align: center;
}

.active {
    opacity: 0.4;
}

#start {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

#title {
    width: 50%;
    height: 50%;
}

.center {
    text-align: center;
}

#winner {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: none;
}

#loser {
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: none;
}

#again {
    display: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}
#p_ag {
    position:relative;
    width: 20%;
    height: 35%;
    display: none;
}
#life_img {
    display:none;
    position:relative;
    width: 20%;
    height: 35%;
    
}
#p_win{
    position:relative;
    width: 20%;
    height: 35%;
    display: none;
}